* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0f6c13;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  h2 {
    margin-bottom: 7%;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a2f328;
    border-radius: 10px;
  }

   
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eddede94;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #c0d40e3f;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(26, 12, 42, 0.937);
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  
  
